<div class="news-item-selected">
    <div class="container">
        <div class="navbar">
            <button (click)="closeButtonClicked()" class="back-button">
                <- back</button>
                    <div class="navbar-heading">DETAIL NEWS</div>
        </div>
        <div class="article">
            <div class="title">{{ article.title }}</div>
            <div class="img"><img [src]="article.imageUrl" alt="article-img"></div>
            <div class="desc">{{ article.content }}</div>
        </div>
    </div>

</div>