<div class="news-container" *ngIf="!isSelected" infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <app-news-item *ngFor="let article of newsArticles | search:searchText | slice:0:end" [element]="article">
    </app-news-item>
</div>

<div class="back-to-top-button" (click)="backToTop()" *ngIf="showButton">
    <img src="../assets/arrow_up_icon.png" alt="back-to-top-button-img">
</div>

<!-- When a article is selected -->
<div *ngIf="isSelected">
    <app-news-article-selected></app-news-article-selected>
</div>